{% extends "inventore/utils/base.html" %}

{%block content%}

<table class="table">
<thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Metric Unit Name</th>
    </tr>
</thead>
<tbody>
    <div class="container-fluid p-2 bg-danger">
        <button type="button" class="btn btn-success">Add</button>
    </div>
    {%for metric_unit in metric_units %}
    <tr>
        <td>
            {{metric_unit.id.value}}
        </td>
        <td>
            
            {{metric_unit.metric_unit_name.value}}
        </td>
    </tr>
    {%endfor%}
</tbody>
</table>

{%endblock%}